<template>
  <div>
    <input
      type="text"
      class="todo-input"
      placeholder="What needs to be done"
      v-model="newTodo"
      @keyup.enter="addTodo"
    />
  </div>
</template>
<script>

export default {
  name: "input-todo-item",
 
  data() {
    return {
      newTodo:'',
      idForTodo: 3,
      todos:[]
        
    };
  },
  methods: {
    addTodo() {
      this.$store.commit('addTodo', {
        id: this.idForTodo,
        title: this.newTodo,
        completed: false
      })
      // eventBus.$emit("addedTodo",{
      //   id: this.idForTodo,
      //   title: this.newTodo,
      //   completed: false
      // });
      this.newTodo = null 
      this.idForTodo++;
    },
  }
   

    
}
</script>
<style scoped>
.todo-input {
  width: 100%;
  padding: 10px 18px;
  font-size: 18px;
  margin-bottom: 16px;
}
</style>

