<template>
     <div>
        <button :class="{active:filter=='all'}" @click="changeFilter('all')">All</button>
        <button :class="{active:filter=='active'}" @click="changeFilter('active')">Active</button>
        <button :class="{active:filter=='completed'}" @click="changeFilter('completed')">Completed</button>
      </div>
</template>

<script>
import {mapState} from 'vuex'
export default {
    name:'todo-filtered',
    
   computed: {
       ...mapState(['filter'])
   },
    methods:{
        changeFilter(filter){
           
            this.$store.commit('changeFilter', filter)
            // eventBus.$emit('filterChanged',filter)
        }
    }
}
</script>
<style scoped>
.active {
  background: lightgreen;
}
    
</style>
